Django>=5.2.17,<5.3
djangorestframework>=3.16.1,<3.17
django-cors-headers==4.3.1
python-decouple==3.8
python-dotenv
psycopg[binary]
gunicorn>=23,<24; sys_platform != 'win32'
djangorestframework-simplejwt>=5.5.1,<5.6

google-auth
requests

Pillow
django-filter==24.1

